.dependent-section {
    margin-top: 2rem;
}

.btn-circle.btn-sm {
    margin-left: .75rem;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}